
vkmessenger.xcodeproj/project.xcworkspace/contents.xcworkspacedata

vkmessenger.xcodeproj/project.xcworkspace/xcuserdata/alexeyrogatkin.xcuserdatad/UserInterfaceState.xcuserstate

vkmessenger.xcodeproj/xcuserdata/alexeyrogatkin.xcuserdatad/xcschemes/Tests.xcscheme

vkmessenger.xcodeproj/xcuserdata/alexeyrogatkin.xcuserdatad/xcschemes/UnitTests.xcscheme

vkmessenger.xcodeproj/xcuserdata/alexeyrogatkin.xcuserdatad/xcschemes/vkmessenger.xcscheme

vkmessenger.xcodeproj/xcuserdata/alexeyrogatkin.xcuserdatad/xcschemes/xcschememanagement.plist
